.container {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.goalHeadline {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 5px;
  font-weight: 400;
}

.goalSubHeadline{
  text-transform: uppercase;
  margin-bottom: 42px;
  letter-spacing: 3px;
  line-height: 20px;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}